@namespace BlazyUI
@inherits BlazyComponentBase

<div class="@CssClass" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    /// <summary>
    /// The main page content that appears alongside the drawer.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string CssClass => MergeClasses("drawer-content");
}
