@namespace BlazyUI
@inherits BlazyComponentBase

<div class="@CssClass" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public JoinDirection Direction { get; set; } = JoinDirection.Horizontal;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string CssClass => MergeClasses(
        "join",
        DirectionClass
    );

    private string DirectionClass => Direction switch
    {
        JoinDirection.Horizontal => "join-horizontal",
        JoinDirection.Vertical => "join-vertical",
        _ => throw new ArgumentOutOfRangeException(nameof(Direction))
    };
}
