@namespace BlazyUI
@inherits BlazyComponentBase

<div class="@CssClass" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Horizontal alignment of the actions.
    /// </summary>
    [Parameter]
    public CardActionsJustify Justify { get; set; } = CardActionsJustify.End;

    /// <summary>
    /// The content of the card actions (typically buttons).
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string CssClass => MergeClasses(
        "card-actions",
        JustifyClass
    );

    private string? JustifyClass => Justify switch
    {
        CardActionsJustify.Start => "justify-start",
        CardActionsJustify.Center => "justify-center",
        CardActionsJustify.End => "justify-end",
        _ => throw new ArgumentOutOfRangeException(nameof(Justify), Justify, null)
    };
}
