@namespace BlazyUI
@inherits BlazyComponentBase

<div class="@CssClass" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    /// <summary>
    /// The content of the stat figure (typically an icon or image).
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string CssClass => MergeClasses("stat-figure");
}
